<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Thank you for signing up for early access to Honeybae. You will be informed of upgrades to the website, beta testing, and when the Honeybae app is available for download on iOs.
      </br>
      Thank you again, </br>
      Honeybae Team</h4>
  </body>
</html>
