<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Thank you for signing up for early access. You will be notified when changes to the website have been made and receive updates on beta testing the mobile app.</h4>
  </body>
</html>
