<!-- <div class="jumbotron" id="intro"> -->
  <div class="container">
    <!-- <h1>Some Label</h1> -->
    <div id="containercontent">
      <div class="labellinks">
        <p>
          <a href="#">STORE</a>
          <a href="#">LABELHOUZ</a>
          <a href="#">DEMOS</a>
          <a href="#">RELEASES</a>
        </p>
      </div>
      <div id="mc_embed_signup">
        <div id="mc_embed_signup_scroll">
          <form action="/emails" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form">
            <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
            <!-- <div id="mc_embed_signup_scroll"> -->
            <input type="email" value="" name="email[email]" class="email" id="mce-EMAIL" placeholder="email address" required>
            <input type="submit" name="mce-EMAIL" class="button" value="SIGNUP">
          <!-- <a class="btn btn-primary btn-lg" href="#" role="button">Submit</a> -->
          </form>
        </div>
      </div>
      <div class="social">
        <a href="#"><img src="/assets/fb.png"></a>
        <a href="#"><img src="/assets/tw.png"></a>
        <a href="#"><img src="/assets/ig.png"></a>
        <a href="#"><img src="/assets/sc.png"></a>
      </div>
    </div>

  </div>
<!-- </div> -->
