<!DOCTYPE HTML>
<html>
<head>
	<title>Honeybae</title>
	<!-- <link rel="stylesheet" type="text/css" href="css/main.css"> -->
</head>
<body>

<h1>
<a href="/cookIndex"><img width="485em" src="<%= asset_path("HONEYBAE_LOGO_black.png") %>"/></a>
</h1>

</br>

<div class = "Trunk File">
<h1><a href="/cookIndex_tanLeaf1"> Chicken Vegetables and Pasta </a></h1>
</br>
</div>

</body>
