<!DOCTYPE HTML>
<html>
<head>
	<title>Honeybae</title>
	<!-- <link rel="stylesheet" type="text/css" href="css/main.css"> -->
</head>

<body>

<h1>
<a href="/index_himTrunk"><img width="485em" src="<%= asset_path("HONEYBAE_LOGO_black.png") %>"/></a>
</h1>

<h1> Monday </h1>
</br>

<h2> Wall Sit with superband </h2>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/eNWqCZlb_lc" frameborder="0" allowfullscreen></iframe>
<p> 30s -30s- [4] </p>
<br/>

<h3> Bosu Ball super pushups </h3>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/d0m2Jh3ahpo" frameborder="0" allowfullscreen></iframe>
<p> x6 -45s- [5] </p>
<br/>

<h3> Sandbag full clean </h3>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/sAgh0HLmfPc" frameborder="0" allowfullscreen></iframe>
<p> 45lb x12 -90s- [3] </p>
<br/>

<h3> Rotation plankups </h3>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/xi06TOF5RHo" frameborder="0" allowfullscreen></iframe>
<p> 180 degrees Left and Right -60s- [2] </p>
<br/>

<h3> Reverse Wheel walk with sandbag drag pull</h3>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/vXfYXJMKSVw" frameborder="0" allowfullscreen></iframe>
<p> 10 yards -10s- [10] </p>

</body>
