<!DOCTYPE HTML>
<html>
<head>
	<title>Honeybae</title>
	<!-- <link rel="stylesheet" type="text/css" href="css/main.css"> -->
</head>

<body>

<h1>
<a href="/index_rosemaryTrunk"><img src="https://trademarks.justia.com/media/image.php?serial=86449448"/></a>
</h1>

<h1> Saturday not gif </h1>
</br>

<h3> Crossover step up </h3>
	<iframe width="420" height="315" src="https://www.youtube.com/embed/1rik7Qop1pc" frameborder="0" allowfullscreen></iframe>
<p> x12e (3)  </p>
<br/>

<h3> Ball Wall Squat curl and press </h3>
	<iframe width="420" height="315" src="https://www.youtube.com/embed/CQ8y29JGTeo" frameborder="0" allowfullscreen></iframe>
<p> 10lb x15 -60s- (3) </p>
<br/>

<h3> Trx crossover lunge </h3>
	<iframe width="420" height="315" src="https://www.youtube.com/embed/NhiVtEVGG0s" frameborder="0" allowfullscreen></iframe>
<p> x10e (5) </p>
<br/>

<h3> Skier Lunge </h3>
	<iframe width="420" height="315" src="https://www.youtube.com/embed/OZ3cdfcqNfQ" frameborder="0" allowfullscreen></iframe>
<p> x6e (10) </p>
<br/>


</body>
