<!DOCTYPE HTML>
<html>
<head>
	<title>Honeybae</title>
	<!-- <link rel="stylesheet" type="text/css" href="css/main.css"> -->
</head>
<body>

<h1>
<a href="/index"><img width="485em" src="<%= asset_path("HONEYBAE_LOGO_black.png") %>"/></a>
</h1>

</br>

<div class = "Trunk File">
<h1><a href="/index_rosleaf1"> Leg exercises not gifs </a></h1>
</br>
<h1><a href="/index_rosleaf2"> Leg exercises gifs </a></h1>
</br>
</div>

</body>
