<!DOCTYPE HTML>
<html>
<head>
	<title>Honeybae</title>
	<!-- <link rel="stylesheet" type="text/css" href="css/main.css"> -->
</head>

<body>

<h1>
<a href="/index_himTrunk"><img src="https://trademarks.justia.com/media/image.php?serial=86449448"/></a>
</h1>

<h1> Wednesday </h1>
</br>

<h3>Step up to t balance with row and tricep extention</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/JRRKFxkp8XQ" frameborder="0" allowfullscreen></iframe>
<p>4 levels plus platform. 10lb DB x3min -90s- (3)</p>
</br>

<h3>Rotation step up with curl and press</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/3XOu6nydZ6M" frameborder="0" allowfullscreen></iframe>
<p> 4 levels plus platform. 15lb x15e (3)</p>
</br>

<h3>Ball barbell butt bridge</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/ubMhn0lt1a0" frameborder="0" allowfullscreen></iframe>
<p>90lb x12 -75s- (5)</p>
</br>

<h3>Single leg heel tap with goblet hold</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/8pSV2-j4CAQ" frameborder="0" allowfullscreen></iframe>
<p>4 levels + platform. 20lb x8e (4) </p>
</br>

<h3>Single leg leg press with single arm incline dumbell press</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/Fz8N4YILdIQ" frameborder="0" allowfullscreen></iframe>
<p>legs: 95lb arms: 35lb x10e (5)</p>

</body>
