/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
 @import "bootstrap-sprockets";
 @import "bootstrap";

 html, body, header, footer, section, article, div,
 strong, a, img, p, h1, h2, h3, h4, h5, time, ul, li, small,
 form, label, input, textarea, button {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font: inherit;
   box-sizing: inherit;
   text-align: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   color: inherit;
   background: transparent;
 }

 // body {
 //   font-family: 'Montserrat', sans-serif;
 // }

 html{
   font-size: 1em;
   line-height: 1.4;
 }


 body{
   font-family: 'Montserrat', sans-serif;
   background: #373737;
   background-image: url("/assets/intro-bg2.png");
   background-position: center;
   background-attachment: fixed;
   background-size: cover;
   color: #000;
   display: block;

   margin-bottom: 0px;

   background-repeat: no-repeat;
  //  background-position: center center;

  //  min-height: 650px;
  //  position: relative;

   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;

 }

 .container{
   width: 100%;
   bottom: 30px;
   position: absolute;
   left: 0px;
 }

 #containercontent{
   width: 90%;
   max-width: 650px;
   margin-left: auto;
   margin-right: auto;
   position: relative;
 }

 .labellinks{
  //  font-size: 1em;
   position: relative;
   text-align: center;
   width: 100%;
 }

 .labellinks p{
   display: block;
   -webkit-margin-before: 1em;
   -webkit-margin-after: 1em;
   -webkit-margin-start: 1px;
   -webkit-margin-end: 0px;
 }

 .labellinks a{
   font-size: 22px;
   color: #ffffff;
   text-decoration: none;
   padding-right: 10px;
   padding-left: 10px;
 }

 .labellinks a:hover{
   color: gray;
   text-decoration: underline;
 }

 #mc-embedded-subscribe-form{
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
 }

 .email{
   background-color: #5f5f5f;
   font-size: 18px;
   letter-spacing: 1px;
   line-height: 22px;
   text-transform: uppercase;
   font-family: 'Montserrat', 'sans-serif';
   border: none;
   padding: 6px 6px 6px 10px;
   margin-top: 10px;
   margin-bottom: 20px;
   text-align: left;
 }

 .button{
   background-color: #5f5f5f;
   border: none;
   padding: 5px;
   margin-top: 10px;
   font-family: 'Montserrat', 'sans-serif';
   margin-bottom: 12px;
   font-size: 18px;
  //  -webkit-appearance: button;
  //  cursor: pointer;
   color: #222;
 }

 .button:hover{
   background-color: #222;
   color: #5f5f5f;
 }

 .social{
   position: relative;
   text-align: center;
   width: 100%;
 }


 .social img{
   padding-right: 15px;
   padding-left: 15px;
 }

 .social img:hover{
   opacity: 0.4;
 }
